@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
span {
    color: orangered;
}
h1 {
    font-size: 50px;
}
h2 {
    font-size: 40px;
    color: #666;
}
h3 {
    font-size: 30px;
}
h6 {
    font-size: 16px;
    color: #666;
}
p {
    font-size: 20px;
}
#paragraph p {
    color: #000000;
}
strong {
    font-weight: 900;
    font-size: 50px;
    color: #000000;
}
/*-- header style----*/
header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding: 0 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 10px 15px rgba(0,0,0,0.1);
    background: #ffffff;
}
header a {
    text-decoration: none;
    color : #666;
}
#logo {
    font-size: 40px;
}
#logo span {
    font-weight: 900;
}
.navbar ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}
.navbar ul li {
    margin-left: 3rem;
}
.navbar ul li a {
    font-size: 20px;
    text-transform: capitalize;
}
.navbar ul li a:hover {
    color: orangered;
}

/*--- home section style---*/
.flex-container {
    display: flex;
    text-align: justify;
    margin-bottom: 5%;
}
.half-width {
    width: 45%;
    justify-content: center;
    padding: 5%;
}
.half-width p {
    color: #666;
    padding-bottom: 70px;
}
.link-btn {
    text-decoration: none;
    background-image: linear-gradient(to right, #fc4a1a, #f7b733);
    padding: 15px 40px;
    color: #ffffff;
    font-weight: 700;
    border-radius: 50px;
    border: 0;
    cursor: pointer;
    font-size: 25px;
}
.link-btn:hover {
    background-image: linear-gradient(to right, #f7b733, #fc4a1a);
}

/*--About section style*/
.about-bg {
    background-image: url(images/shapes/Frame\ 58.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    
}

/*--Recipes section style--*/
.container{
    padding-top: 30px;
}
.text-area {
    text-align: center;
    padding: 0 23%;
}
.img_text-area {
    display: flex;
    margin-right: 10%;
    margin-left: 10%;
}
.img-text {
    width: 25%;
    box-shadow: 10px 10px 40px gray;
    margin: 3%;
    border-radius: 50px;
    padding: 30px 20px 0px 20px;
}
.img-text img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.img-text p {
    text-align: left;
    color: #3f3e3e;
}
.count {
    display: flex;
    margin: 100px 10% 100px 14%;
    align-items: center;
    justify-content: space-between;
    box-shadow: 10px 10px 40px gray;
    border-radius: 30px;
    padding: 20px 250px;
}
.count h6 {
    text-align: center;
}

/*--- contact section ----*/
.contact-section {
    background: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 0;
}
.contact-section h2 {
    text-align: center;
}
.contact-form {
    max-width: 1000px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
}
.contact-form-text {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    background: #111;
    padding: 20px 40px;
    outline: none;
    color: #ddd;
}
.contact-section .link-btn {
    float: right;
    font-size: 30px;
}
/*-- footer style---*/
footer {
    background-color: #000000;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
footer a{
    font-size: 40px;
    text-decoration: none;
    color: #666;
}
footer p {
    color: #fff;
}
.social-links {
    margin-top: 15px;
}
.social-links a{
    display: inline-flex;
    color: #666;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.social-links a:hover {
    color: orangered;
}
